{% extends "base.html" %}
{% block role_label %}Faculty Extensionist{% endblock %}
{% block sidebar_nav %}
<a class="sidebar-link {% if request.endpoint == 'main.index' %}active{% endif %}" href="{{ url_for('main.index') }}"><i class="bi bi-grid-1x2"></i> Dashboard</a>
<a class="sidebar-link {% if request.endpoint in ['main.Program','main.Program_add','main.Program_edit'] %}active{% endif %}" href="{{ url_for('main.Program') }}"><i class="bi bi-kanban"></i> Programs</a>
<a class="sidebar-link {% if request.endpoint in ['main.Project','main.Project_add','main.Project_edit'] %}active{% endif %}" href="{{ url_for('main.Project') }}"><i class="bi bi-folder2-open"></i> Projects</a>
<a class="sidebar-link {% if request.endpoint in ['main.Activity','main.Activity_add','main.Activity_edit'] %}active{% endif %}" href="{{ url_for('main.Activity') }}"><i class="bi bi-calendar-event"></i> My Activities</a>
<a class="sidebar-link" href="#"><i class="bi bi-wallet2"></i> Budget Utilization</a>
<a class="sidebar-link" href="#"><i class="bi bi-bar-chart"></i> Reports &amp; Analytics</a>
{% endblock %}
